code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

h2 {
  color: #FF6987;
  font-family: "Comic Sans MS", cursive, sans-serif; 
}

.page-header {
  border-bottom-color: rgb(0,0,0);
}